#box {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
#subtitle-1 {
    padding-top: 25px;
}
#subtitle-2 {
    padding-top: 35px;
}
#text {
    margin-bottom: 5px;
}
.form-control {
    margin-bottom: 10px;
}

