<section class="vh-100" style="background-color: #0B3C5D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-8 col-md-6 col-lg-5 col-xl-4 text-center">
        <h3 class="mb-5" style="color: white">LOGO</h3>

        <p class="text-white fw-semibold">Restablecimiento de contraseña</p>

        <p class="text-white">Ingresa tu correo electrónico</p>

        <form [formGroup]="form">
          <div class="form-outline mb-5">
            <input type="email" id="typeEmailX-2" formControlName="email" placeholder="Usuario" class="form-control form-control-lg" />
          </div>
        </form>

        <div class="d-flex justify-content-center">
          <button class="btn btn-primary btn-lg btn-block text-black bg-white me-3" (click)="cancel()" type="submit">Cancelar</button>
          <button class="btn btn-primary btn-lg btn-block text-black bg-white" (click)="recover()" type="submit">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</section>

