<div class="container">
    <div class="row" id="center">
        <p class="text-center" style="color: black">
            <b>Aún no cuentas con usuarios</b>
        </p>
        <p class="text-center my-2" style="color: black">
            Crea <b>usuarios</b> para tus <b>consultas</b> y carga
            <br>su información para darles seguimiento.
        </p>
        <button class="btn btn-primary col-3 mx-auto my-2"
                style="background-color: #0B3C5D">
            + Crear usuario
        </button>
    </div>
</div>