<nav class="navbar navbar-expand-lg" style="background-color: #0B3C5D">
  <div class="container-fluid">
    <a class="btn navbar-brand text-white" routerLink="">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li *ngIf="this.app.navbarAdmin == false" class="nav-item" (click)="navigateToConsults()">
          <a class="btn nav-link text-white">Consultas</a>
        </li>
        <li *ngIf="this.app.navbarAdmin == false" class="nav-item" (click)="navigateToConsultsList()">
          <a class="btn nav-link text-white">Historial</a>
        </li>
        <li *ngIf="this.app.navbarAdmin == false" class="nav-item" (click)="navigateToPatientsList()">
          <a class="btn nav-link text-white">Pacientes</a>
        </li>
        <li *ngIf="this.app.navbarAdmin == true" class="nav-item" (click)="navigateToUsersList()">
          <a class="btn nav-link text-white">Usuarios</a>
        </li>

      </ul>
      <div class="dropdown ms-auto">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 35px;"
             alt="Avatar" />
        <a class="btn text-white dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nombre Usuario
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" (click)="navigateToAccount()">Mi cuenta</a>
          <div class="dropdown-divider"></div>
          <a (click)="logOut()" class="dropdown-item">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>
</nav>
