<section *ngIf="this.allUsers.length == 0">
  <div class="container">
    <div class="row" id="center">
      <div class="text-center">
        <img id="img1" src="assets/images/empty_state.png">
      </div>
      <p class="text-center" style="color: black">
          <b>Aún no cuentas con usuarios</b>
          <img id="img2" src="assets/images/user_icon.png">
      </p>
      <p class="text-center my-2" style="color: black">
          Crea <b>usuarios</b> para tus <b>consultas</b> y carga
          <br>su información para darles seguimiento.
      </p>
      <button class="btn btn-primary col-2 mx-auto my-2"
              style="background-color: #0B3C5D"
              (click)="navigateToNewUser()">
            + Crear usuario
      </button>
    </div>
  </div>
</section>
<section *ngIf="this.allUsers.length > 0">
  <div class="container-fluid" id="header" style="background-color: white">
    <div id="row" class="row py-4">
      <div class="col-xl-8 col-md-8 col-sm-6 col-6">
        <span style="color: black"><b>Usuarios app </b>({{allUsers.length}})</span>
      </div>
      <div class="col-xl-3 col-md-3 col-sm-5 col-5">
        <div class="input-group">
          <input [(ngModel)]="searchText" class="form-control" type="search" placeholder="Buscar...">
          <button class="btn" style="background-color: #0B3C5D; color: white;" type="submit"><i class="bi-search"></i></button>
        </div>
      </div>
      <div class="col-xl-1 col-sm-1 col-md-1 col-1">
        <div class="col-auto" id="btn-plus">
          <button class="btn btn-primary"
              style="background-color: #0B3C5D"
              (click)="navigateToNewUser()">+</button>
        </div>
      </div>
    </div>
    <div class="table-responsive px-4 text-center">
      <div *ngIf="(allUsers | userNameFilter:searchText).length === 0" >
        No hay datos
      </div>
      <table id="table" *ngIf="(allUsers | userNameFilter:searchText).length > 0" class="table text-start" style="background-color: white">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo electrónico</th>
            <th scope="col">DNI</th>
            <th scope="col">Tipo</th>
            <th scope="col">Modalidad</th>
            <th scope="col">Consultas</th>
          </tr>
        </thead>
        <tbody>
          <tr id="table-row" *ngFor="let item of allUsers | slice: (page-1) * pageSize : page * pageSize | userNameFilter:searchText">
            <td>{{item.nombre}}
              <span role="button" (click)="navigateToEditUser(item.id)">
                <i id="icon" class="bi bi-pencil-fill"></i>
              </span>
              <span *ngIf="this.user.id != item.id" class="mx-1" role="button" data-toggle="modal" data-target="#deleteUser" (click)="deleteUser(item.id)">
                <i id="icon" class="bi bi-trash-fill"></i>
              </span>
            </td>
            <td>{{item.apellido}}</td>
            <td>{{item.correo}}</td>
            <td>{{item.dni}}</td>
            <td *ngIf="item.tipo == true">Especialista</td>
            <td *ngIf="item.tipo == false">Administrador</td>
            <td *ngIf="item.modalidadId == 1">Presencial</td>
            <td *ngIf="item.modalidadId == 2">Virtual</td>
            <td *ngIf="item.modalidadId == 3">Mixto</td>
            <td *ngIf="item.modalidadId != 1 && item.modalidadId != 2 && item.modalidadId != 3">-</td>
            <td>{{item.consultaCount}}</td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination *ngIf="(allUsers | userNameFilter:searchText).length > 0" id="pagination"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="allUsers.length">
      </ngb-pagination>
    </div>
    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <p class="modal-title text-center" style="text-size-adjust: 100px" id="exampleModalLabel">
                <i class="bi bi-exclamation-circle" style="font-size: 40px; color: #FF9A62"></i>
              </p>
              <b class="text-center">¿Estás seguro de que deseas eliminar al usuario?</b>
              <p class="text-center">La acción no será reversible, y se perderá su historial en el sistema.</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="background-color: white; color: black" (click)="close()" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" style="background-color: #EA6369" (click)="deleteUserById()">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
