<section *ngIf="consultExist == false" class="vh-100" style="background-color: #EDE9E9">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="col-8 col-md-6 col-lg-5 col-xl-4 text-center">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 192.45px;"/>
        <div style="height: 40px"></div>
        <div>
          <span class="fw-semibold" style="font-size: 15px">Aún no cuentas con usuarios</span>
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle ms-2" style="width: 30px;"/>
        </div>
        <div class="mt-2">
          <span class="fw-normal" style="font-size: 15px">Crea </span>
          <span class="fw-semibold" style="font-size: 15px">usuarios </span>
          <span class="fw-normal" style="font-size: 15px">para tus </span>
          <span class="fw-semibold" style="font-size: 15px">consultas </span>
          <span class="fw-normal" style="font-size: 15px">y carga su información para darles seguimiento.</span>
        </div>

        <button class="mt-2 btn btn-primary text-white" style="background-color: #0B3C5D; font-size: 14px" type="submit">
          + Crear Usuario</button>
      </div>
    </div>
  </div>
</section>

<section *ngIf="consultExist == true" class="vh-100" style="background-color: #EDE9E9">
  <div style="height: 16px;"></div>
  <div class="d-flex">
    <span class="fw-semibold" style="font-size: 14px; margin-left: 41px">Consultas </span>
    <span class="fw-light" style="font-size: 14px">({{this.consultCount}})</span>
    <div class="input-group ms-auto me-3" style="width: 329px;">
      <input [(ngModel)]="searchText" type="search" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="button-addon2">
      <button class="btn" type="button" id="button-addon2" style="background-color: #0B3C5D; color: white;"><i class="bi-search"></i></button>
    </div>
    <a class="btn text-white" href="/create-consult" style="background-color: #0B3C5D; margin-right: 43px">+</a>
  </div>

  <div style="height: 44px;"></div>



  <div style="margin-right: 41px; margin-left: 43px; margin-top: 11px" *ngFor="let consultGroup of this.groupArrays">
    <span *ngIf="searchText == ''" class="fw-semibold" style="font-size: 20px; margin-left: 41px;">{{consultGroup.date}}</span>
    <div class="justify-content-center align-items-center h-100" *ngFor="let consult of consultGroup.games | customerEmailFilter: searchText">
      <div *ngIf="consult.estadoConsulta.id == 3" class="card" style="margin-bottom: 13px">
        <div class="d-flex">
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" style="width: 303.84px; height: 192px;"/>
          <div class="card-body">
            <div>
              <span class="badge rounded-pill fw-semibold" style="margin-right:12px; font-size: 16px; background-color: #1D2731">{{consult.modalidad.modalidad}}</span>
              <ng-container *ngFor="let tags of consult.violencias">
                <span class="badge rounded-pill fw-semibold" style="margin-right:12px; font-size: 16px; background-color: #328CC1">{{tags}}</span>
              </ng-container>
              <span class="fw-semibold float-end" style="font-size: 20px">{{consult.fechaReserva.split("T")[1].substring(0,5)}}</span>
            </div>
            <div class="d-flex">
              <h5 class="fw-normal card-title mt-1 me-2">{{consult.paciente.nombre + " " +consult.paciente.apellido}}</h5>
              <i (click)="navigateToEditConsult(consult)" class="bi bi-pencil-fill mt-1"></i>
              <i (click)="storeId(consult.id)" data-toggle="modal" data-target="#exampleModal" class="bi bi-trash-fill mt-1"></i>
            </div>
            <div class=" col-md-6 col-xl-5">
              <p class="card-text" style="font-size: 13px">{{consult.descripcion}}</p>
            </div>
            <div class="text-end align-text-bottom mt-2">
              <a *ngIf="localTime.getTime() >= toDate(consult.fechaReserva).getTime()"
                 (click)="update(consult, 1)" class="btn text-white" style="background-color: #0B3C5D; width: 164px">Finalizar</a>
              <a *ngIf="localTime.getTime() <= toDate(consult.fechaReserva).getTime()"
                 (click)="update(consult, 2)" class="btn text-white" style="background-color: rgba(255, 0, 0, 0.61); width: 164px">Cancelar</a>
            </div>
          </div>


        </div>

      </div>


    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <p class="modal-title text-center" style="text-size-adjust: 50px" id="exampleModalLabel">
              <i class="bi-exclamation-circle" style="font-size: 70px; color: #FF9A62"></i>
            </p>
            <b class="text-center">¿Estás seguro de que deseas eliminar al usuario?</b>
            <p class="text-center">La acción no será reversible, y se perderá su historial en el sistema.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" style="background-color: white; color: black" data-dismiss="modal">Cancelar</button>
          <button (click)="delete(consultId)" type="button" class="btn btn-primary" style="background-color: #EA6369">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</section>




