html { background-color: black; }

.bi {
  display: none;
}

.card:hover{
  transform: scale(1.01);
}

.card{
  transition: transform .5s;
}

.card:hover .bi {
  display: block;
}

.btn:hover {
  background-color: RoyalBlue;
}


/*.div1 {
  height:100%;
  width: 100%;
  background-color: red;

  display:block;
  justify-content: center;
  align-items: center;
}

.home-container {
  overflow-y: hidden;

}*/



@media (min-width: 992px) {
  .col-md-3-5 {
    flex: 0 0 auto;
    width: 20%;
  }

  .col-md-9-5 {
    flex: 0 0 auto;
    width: 80%;
  }

  .margin_image {
    max-width: 200px;
    max-height: 240px;
    transition: transform 0.3s ease;
  }
}

@media (min-width: 768px) {
  .margin_image {
    max-width: 303px;
    max-height: 220px;
    transition: transform 0.3s ease;
  }

}

/* Style #1 */
.loading {
  display: flex;
  justify-content: center;
}

.loading--full-height {
  align-items: center;
  height: 100%;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-top-color: #0B3C5D;
  border-radius: 50%;
  transform: rotate(0.16turn);
  animation: loading 1s ease infinite;
}

@keyframes loading {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border-color: white;
  background-color: #0B3C5D;
}


