.bi {
  display: none;
}

.card:hover{
  transform: scale(1.01);
}

.card{
  transition: transform .5s;
}

.card:hover .bi {
  display: block;
}

.btn:hover {
  background-color: RoyalBlue;
}

@media (min-width: 992px) {
  .col-md-3-5 {
    flex: 0 0 auto;
    width: 20%;
  }

  .col-md-9-5 {
    flex: 0 0 auto;
    width: 80%;
  }

  .margin_image {
    max-width: 200px;
    max-height: 240px;
    transition: transform 0.3s ease;
  }
}

@media (min-width: 768px) {
  .margin_image {
    max-width: 303px;
    max-height: 220px;
    transition: transform 0.3s ease;
  }

}
