<section class="vh-100" style="background-color: #0B3C5D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-8 col-md-6 col-lg-5 col-xl-4 text-center">
        <img src="assets/images/UPC_logo_transparente.png" class="rounded-circle" style="width: 192.45px;"/>
        <form [formGroup]="form">
          <div class="form-outline mb-4">
            <input type="email" id="typeEmailX-2" formControlName="email" placeholder="Usuario" class="form-control form-control-lg"
            [ngClass]="{'has-error': form.get('email')?.errors?.['required'] && form.get('email')?.touched
            && form.get('email')?.dirty}"/>
          </div>
          <div class="form-outline mb-4">
            <input type="password" id="typePasswordX-2" formControlName="password" placeholder="Contraseña" class="form-control form-control-lg"
                   [ngClass]="{'has-error': form.get('password')?.errors?.['required'] && form.get('password')?.touched
                   && form.get('password')?.dirty}"/>
          </div>

          <div class="col mb-4">
            <a (click)="navigateToRecover()" class="text-white" style="text-decoration: none;">¿Olvidaste tu contraseña?</a>
          </div>
        </form>
        <div class="col mb-4">
          <a *ngIf="this.success == 'false'" style="text-decoration: none; color: red">Contraseña o Correo Incorrectos</a>
        </div>
        <button (click)="validateLogin()" class="btn btn-primary btn-lg btn-block text-black bg-white" type="submit">Ingresar</button>
      </div>
    </div>
  </div>
</section>
