<section class="vh-100" style="background-color: #0B3C5D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-8 col-md-6 col-lg-5 col-xl-4 text-center">
        <h3 class="mb-5" style="color: white">LOGO</h3>

        <div class="form-outline mb-4">
          <input type="email" id="typeEmailX-2" placeholder="Usuario" class="form-control form-control-lg" />
        </div>

        <div class="form-outline mb-4">
          <input type="password" id="typePasswordX-2" placeholder="Contraseña" class="form-control form-control-lg" />
        </div>

        <div class="col mb-4">
          <a href="/recover" class="text-white" style="text-decoration: none;">¿Olvidaste tu contraseña?</a>
        </div>

        <button (click)="goToHome()" class="btn btn-primary btn-lg btn-block text-black bg-white" type="submit">Ingresar</button>
      </div>
    </div>
  </div>
</section>
