<section *ngIf="this.allPatients.length == 0">
    <div class="container">
      <div class="row" id="center">
        <div class="text-center">
          <img id="img1" src="assets/images/empty_state.png">
        </div>
        <p class="text-center" style="color: black">
          <b>Aún no cuentas con pacientes </b>
          <img id="img2" src="assets/images/user_icon.png">
        </p>
        <p class="text-center my-2" style="color: black">
          Crea <b>pacientes</b> para poder visualizar su información.
        </p>
        <button class="btn btn-primary col-2 mx-auto my-2"
                style="background-color: #0B3C5D"
                (click)="navigateToNewPatient()">
                + Crear paciente
        </button>
      </div>
    </div>
  </section>
  <section *ngIf="this.allPatients.length > 0">
    <div class="container-fluid" id="header" style="background-color: white">
      <div id="row" class="row py-4">
        <div class="col-xl-8 col-md-8 col-sm-6 col-6">
          <span style="color: black"><b>Pacientes </b>({{allPatients.length}})</span>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-5 col-5">
          <div class="input-group">
            <input [(ngModel)]="searchText" class="form-control" type="search" placeholder="Buscar...">
            <button class="btn" style="background-color: #0B3C5D; color: white" type="submit"><i class="bi-search"></i></button>
          </div>
        </div>
        <div class="col-xl-1 col-sm-1 col-md-1 col-1">
          <div class="col-auto" id="btn-plus">
            <button class="btn btn-primary"
                style="background-color: #0B3C5D"
                (click)="navigateToNewPatient()">+</button>
          </div>
        </div>
      </div>
      <div class="table-responsive px-4 text-center">
        <div *ngIf="(allPatients | patientNameFilter:searchText).length === 0" >
          No hay datos
        </div>
        <table id="table" *ngIf="(allPatients | patientNameFilter:searchText).length > 0" class="table text-start" style="background-color: white">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Correo electrónico</th>
              <th scope="col">DNI</th>
              <th scope="col">Número</th>
              <th scope="col">Tipo de Violencia</th>
              <th scope="col">Consultas</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr id="table-row" *ngFor="let item of allPatients | slice: (page-1) * pageSize : page * pageSize | patientNameFilter: searchText  ">
              <td>{{item.nombre}}
                <span role="button" (click)="navigateToEditPatient(item.id)">
                  <i id="icon" class="icon bi bi-pencil-fill"></i>
                </span>
                <span class="mx-1" role="button" data-toggle="modal" data-target="#deletePatient" (click)="deletePatient(item.id)">
                  <i id="icon" class="icon bi bi-trash-fill"></i>
                </span>
              </td>
              <td>{{item.apellido}}</td>
              <td>{{item.correo}}</td>
              <td>{{item.dni}}</td>
              <td>{{item.numero}}</td>
              <td *ngIf="item.violencias.length > 0">{{item.violencias}}</td>
              <td *ngIf="item.violencias.length == 0">-</td>
              <td>{{item.consultaCount}}</td>
              <td>
                <a role="button" style="color: #00E676" href="https://api.whatsapp.com/send?phone=51{{item.numero}}" target="_blank">
                  <i class="bi bi-whatsapp"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination *ngIf="(allPatients | patientNameFilter:searchText).length > 0" id="pagination"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="allPatients.length">
      </ngb-pagination>
      </div>
      <div class="modal fade" id="deletePatient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <p class="modal-title text-center" style="text-size-adjust: 100px" id="exampleModalLabel">
                  <i class="bi bi-exclamation-circle" style="font-size: 40px; color: #FF9A62"></i>
                </p>
                <b class="text-center">¿Estás seguro de que deseas eliminar al paciente?</b>
                <p class="text-center">La acción no será reversible, y se perderá su historial en el sistema.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" style="background-color: white; color: black" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" style="background-color: #EA6369" (click)="deletePatientById()">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
