<section *ngIf="this.app.empty == true">
    <div class="container">
      <div class="row" id="center">
        <div class="text-center">
          <img id="img1" src="assets/images/img1.png">
        </div>
        <p class="text-center" style="color: black">
          <b>Aún no cuentas con pacientes </b>
          <img id="img2" src="assets/images/img2.png">
        </p>
        <p class="text-center my-2" style="color: black">
          Crea <b>pacientes</b> para poder visualizar su información.
        </p>
        <button class="btn btn-primary col-2 mx-auto my-2"
                style="background-color: #0B3C5D"
                (click)="navigateToNewPatient()">
                + Crear paciente
        </button>
      </div>
    </div>
  </section>
  <section *ngIf="this.app.empty == false">
    <div class="container-fluid" id="header" style="background-color: white">
      <div id="row" class="row py-4">
        <div class="col-xl-8 col-md-8 col-sm-6 col-6">
          <span style="color: black"><b>Pacientes </b>(2)</span>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-5 col-5">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Buscar...">
            <button class="btn" style="background-color: #00689D" type="submit"><i class="bi-search"></i></button>
          </div>
        </div>
        <div class="col-xl-1 col-sm-1 col-md-1 col-1">
          <div class="col-auto" id="btn-plus">
            <button class="btn btn-primary"
                style="background-color: #0B3C5D"
                (click)="navigateToNewPatient()">+</button>
          </div>
        </div>
      </div>
      <div class="table-responsive px-4">
        <table class="table" style="background-color: white">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Correo electrónico</th>
              <th scope="col">DNI</th>
              <th scope="col">Número</th>
              <th scope="col">Tipo de Violencia</th>
              <th scope="col">Consultas</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr id="table-row">
              <td>Jane Cooper 
                <span role="button" (click)="navigateToEditPatient()">
                  <i id="icon" class="bi bi-pencil-fill"></i>
                </span>
                <span class="mx-1" role="button" data-toggle="modal" data-target="#deletePatient">
                  <i id="icon" class="bi bi-trash-fill"></i>
                </span>
              </td>
              <td>Theresa Webb</td>
              <td>alma.lawson@example.com</td>
              <td>23369874</td>
              <td>61692907</td>
              <td>Física, Psicológica, Sexual, Familiar</td>
              <td>8</td>
              <td>
                <span role="button" style="color: #00E676">
                  <i class="bi bi-whatsapp"></i>
                </span>
              </td>
            </tr>
            <tr id="table-row">
              <td>Wade Warren 
                <span role="button" (click)="navigateToEditPatient()">
                  <i id="icon" class="bi bi-pencil-fill"></i>
                </span>
                <span class="mx-1" role="button" data-toggle="modal" data-target="#deletePatient">
                  <i id="icon" class="bi bi-trash-fill"></i>
                </span>
              </td>
              <td>Kathryn Murphy</td>
              <td>georgia.young@example.com</td>
              <td>12548963</td>
              <td>91069281</td>
              <td>Física, Psicológica</td>
              <td>10</td>
              <td>
                <span role="button" style="color: #00E676">
                  <i class="bi bi-whatsapp"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal fade" id="deletePatient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <p class="modal-title text-center" style="text-size-adjust: 100px" id="exampleModalLabel">
                  <i class="bi bi-exclamation-circle" style="font-size: 40px; color: #FF9A62"></i>
                </p>
                <b class="text-center">¿Estás seguro de que deseas eliminar al paciente?</b>
                <p class="text-center">La acción no será reversible, y se perderá su historial en el sistema.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" style="background-color: white; color: black" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" style="background-color: #EA6369">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>