#box {
  margin-top: 31px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}
#subtitle-1 {
  padding-top: 25px;
}
#subtitle-2 {
  padding-top: 35px;
}
#text {
  margin-bottom: 5px;
}
.form-control {
  margin-bottom: 10px;
}

.fa{
  position: absolute;
  pointer-events: none;
  top: 15px;
  right: 30px;
  color:#fff;
}

select:invalid{
  color: gray;
}
option{
  color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}

#timepicker:before {
  content:'Time:';
  margin-right:.6em;
  color:#9d9d9d;
}

