#box {
    margin-top: 31px;
    margin-bottom: 25px;
}
#subtitle-1 {
    padding-top: 25px;
}
#subtitle-2 {
    padding-top: 35px;
}
#text {
    margin-bottom: 5px;
}
.form-control {
    margin-bottom: 10px;
}